<div class="footerContainerOne">
    <div class="footerContainerTwo">
        <div class="h2Container">
            <h2>Air Quality</h2>
        </div>
        <div class="footerContainerThree">
            <div>
                <a class="footerText" routerLink="/imprint">Imprint</a>
            </div>
            <div class="divContainer"></div>
            <div>
                <a class="footerText" routerLink="/data-protection">Data protection</a>
            </div>
        </div>
          </div>
    </div>
