<div class="airQualityContainerOne">
  <div class="airQualityContainerTwo">
    <h2>Air quality in Bangkok</h2>
    <div class="airQualityContainerThree">
      <div class="airQualityContainerFour">
      <div class="containerAQI">
        <span class="spanOne">55</span>
        <span clas="spanTwo">US AQI</span>
      </div>
      <div class="containerStrength">
        <span class="spanStrength">Moderat</span>
      </div>
      <div class="test">
        <img class="placeholderIMG" src="placeholder.png" alt="">
      </div>
    </div>
    <div class="containerDiv"></div>
    <div class="airQualityContainerFive">
      <div class="airQualityContainerSix">
        <div class="info">32°</div>
        <div class="info">15 km/h</div>
        <div class="info">70%</div>
      </div>
    </div>
    </div>
  </div>
  
</div>


