<!-- <div class="air-quality-container" *ngIf="airData">
  <h3>Luftqualität in {{ city }}</h3>
  <div *ngFor="let location of airData.results" class="location-card">
    <h4>{{ location.location }}</h4>
    <ul class="measurements-list">
      <li *ngFor="let measurement of location.measurements" class="measurement-item">
        <span class="parameter">{{ measurement.parameter | uppercase }}:</span>
        <span class="value">{{ measurement.value }} {{ measurement.unit }}</span>
      </li>
    </ul>
  </div>
</div> -->


