.airQualityContainerOne {
  width: 100%;
  display: flex;
  justify-content: center;
}

  .airQualityContainerTwo {
    max-width: 1440px;
    width: 100%;
    height: 350px;
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 32px;
    margin: 0;
  }

  .airQualityContainerThree {
    width: 400px;
    height: 150px;
    background-color: rgb(242, 92, 92);
    position: relative;
    right: 20px;
    top: 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    >.airQualityContainerFour {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center;
    >.containerAQI {
      width: 75px;
      height: 75px;
      background-color: red;
      margin: 15px 0 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
    >.spanOne {
        font-size: 24px;
        font-weight: bold;
      }
    }
    }
  }

  .spanStrength {
    font-weight: 600;
    // position: relative;
    // top: 45px;
  }

  .containerDiv {
    height: 1px;
    width: 90%;
    background-color: lightgrey;
  }

  .airQualityContainerFive {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
  }

  .airQualityContainerSix {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  .placeholderIMG {
    width: 70px;
    height: 70px;
  }

  .info {
    font-weight: 700;
  }

  .h2Container {
    display: flex;
    position: relative;
    top: 30px;
    gap: 16px;
  }

  .h2Span {
    position: relative;
    top: 11px;
  }